<div class="layout">
  <!-- SIDEBAR -->
  <aside [class.collapsed]="isSidebarCollapsed">
    <div class="sidebar-header">
      <img src="assets/images/icone_halpaper.png" class="logo" />
      <span class="brand" *ngIf="!isSidebarCollapsed">HaLpaper</span>
      <button class="toggle" (click)="toggleSidebar()">⇋</button>
    </div>

    <!-- MENU LATERAL DINÂMICO -->
    <nav class="sidebar-menu">
      <ul>
        <li *ngFor="let item of menuAtual">
          <!-- Se tiver subitens -->
          <ng-container *ngIf="item.children; else menuSimples">
            <div class="menu-com-sub" (click)="toggleSubmenu(item.label)">
              <span class="icon">{{ item.icon }}</span>
              <span class="label" *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
              <span class="seta" *ngIf="!isSidebarCollapsed">
                {{ submenuAberto === item.label ? '▾' : '▸' }}
              </span>
            </div>

            <ul class="submenu" *ngIf="submenuAberto === item.label">
              <li *ngFor="let sub of item.children">
                <a [routerLink]="sub.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  [attr.title]="isSidebarCollapsed ? sub.label : null">
                  <span class="icon">{{ sub.icon }}</span>
                  <span class="label" *ngIf="!isSidebarCollapsed">{{ sub.label }}</span>
                </a>
              </li>
            </ul>
          </ng-container>

          <!-- Menu simples -->
          <ng-template #menuSimples>
            <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [attr.title]="isSidebarCollapsed ? item.label : null">
              <span class="icon">{{ item.icon }}</span>
              <span class="label" *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
            </a>
          </ng-template>
        </li>
      </ul>

    </nav>
  </aside>

  <!-- CONTEÚDO PRINCIPAL -->
  <div class="main-content">
    <!-- NAVBAR -->
    <header>
      <div class="system-title">
        Sistema: <strong>{{ microsservicoAtual }}</strong>
      </div>
      <div class="sections">
        <span class="section" *ngFor="let section of sections" [class.active]="section === microsservicoAtual"
          (click)="selecionarSistema(section)">
          {{ section }}
        </span>
      </div>
    </header>

    <!-- CONTEÚDO ROTEADO -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
