@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.login-box {
  max-height: 90vh;
  overflow: auto;
}

.sidebar.w-16 .p-menuitem-text {
  display: none;
}
